flask
numpy~=1.24.3
opencv-python-headless
matplotlib
pytesseract~=0.3.10
gunicorn
click
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug
Flask-Cors
psycopg
scikit-image~=0.20.0
pillow
mesa

streamlit~=1.28.2